# JSON files for exports and imports
.json/exports/*.json
.json/imports/*.json

# Dependencies
node_modules

# Output directories
out
dist
*.tgz

# Code coverage
coverage
*.lcov

# Logs and temp files
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
